// Place all the styles related to the Pages controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.majors, .ranks{
	margin: 40px 40px 0 0;
}

.dropdown-toggle{
	box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.1), 0 6px 20px 0 rgba(0, 0, 0, 0.09);
	border: none;
	border-radius: 0;
}

.dropdown-menu, .form-control{
	border-radius: 0;
}

input:focus{
	outline: none;
}

svg{
	background-color: #fff;
	margin: 4vh 0;
	box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.1), 0 6px 20px 0 rgba(0, 0, 0, 0.09);
}

.popup{
	text-align: left;
	padding: 7px;
}

.popup p{
	margin: 0;
	padding: 7px;
}

.popup span{
	font-weight: bold;
	text-decoration: underline;
	color: #00BCD4;
}